body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

/*font-family: 'Dosis', sans-serif;*/

#main {
    margin: 64px auto;
    width: 626px;
}

#main img {
    margin-bottom: 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    line-height: normal;
    font-weight: normal;
    margin-bottom: 16px;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

p {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    width: 540px;
}

p span, a {
    font-weight: bold;
    color: #3F3D56;
}

.text1 {
    margin-bottom: 32px;
}

a {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.682%;
    text-decoration: none;
}

a +a {
    margin-left: 42px;
}

.line {
    width: 391px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#wave {
    margin-top: 50px;
    bo
}